/*    Styles for Main layout   */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url("../img/bg.jpg");
    font-family: "PT Sans", sans-serif;
}

header, footer {
    background-color: #2A8676;
    padding: 15px 0;
    font-size: 15px;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.user {
    display: flex;
}

.user-name {
    margin-right: 10px;
}

.user .fa, .logo i {
    font-size: 20px;
}

.content {
    min-height: 90vh;
    background-color: rgba(0,0,0,0.35);
}

.footer-title {
    text-align: center;
}





/*   Styles for manager page   */

.analytics {
    display: flex;
    padding: 25px 30px;
}

.analytics img {
    width: 570px;
    height: 100%;
}



@media only screen and (max-width: 1200px) {
    .analytics {
        flex-direction: column;
        align-items: center;
    }
    .analytics img {
        width: 90%;
    }
}
