<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product admin</title>
    <link rel="stylesheet" href="product_admin.css">
</head>
<body>

<header>
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <div class="user">
                <p class="user-name">Hello, User!</p>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="content">
            <div class="header-info">
                <p>Back</p>
                <p>Category: <b>Phone</b></p>
            </div>
            <div class="products-list">
                <div class="product">
                    <img class="product-img" src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png" alt="img">
                    <div class="product-info">
                        <div class="product-description">
                            <h3 class="product-name">Name of product</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores non odit quod recusandae repellat sapiente ullam.</p>
                        </div>
                        <div class="product-tools">
                            <h4>You can also:</h4>
                            <button id="add" class="btn add">Add more</button>
                            <button id="edit" class="btn edit">Edit</button>
                            <button id="del" class="btn del">Delete</button>
                        </div>
                        <div class="buy-item">
                            <p class="item-price">$Price</p>
                            <button id="buy" class='btn buy'>Buy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="modal" class="modal"></div>

<footer>
    <div class="container">
        <p class="footer-title">Demo Shop</p>
    </div>
</footer>

<script src="product_admin.js"></script>
<script src="https://use.fontawesome.com/255c2dfaed.js"></script>
</body>
</html>