/*    Styles for Main layout   */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url("../img/bg.jpg");
    font-family: "PT Sans", sans-serif;
}

header, footer {
    background-color: #2A8676;
    padding: 15px 0;
    font-size: 15px;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.user {
    display: flex;
}

.user-name {
    margin-right: 10px;
}

.user .fa, .logo i {
    font-size: 20px;
}

.content {
    min-height: 90vh;
    background-color: rgba(0,0,0,0.35);
}

.footer-title {
    text-align: center;
}





/*   Styles for admin page  */

.header-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0;
    color: #fff;
}

.products-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 20px 0;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e9e7e6;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.product-header {
    position: relative;
}

.product-img {
    width: 100%;
    margin: 0 auto;
}

.product-rate {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.75);
}

.product-rate img {
    height: 18px;
    width: 18px;
}

.product-rate img:first-child {
    padding-left: 20px;
}

.product-info {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-size: 24px;
    border-bottom: 2px solid #3FC5CB;
    margin: 15px 0;
    padding-bottom: 15px;
}

.buy-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 15px 10px;
    border-top: 1px solid #D6D6D6;
}

.edit-link {
    text-decoration: underline;
    color: #2A8676;
}

.edit-link:hover {
    cursor: pointer;
}


.item-price {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

.dollars {
    color: #2A8676;
}

.choosen-items {
    font-size: 16px;
    font-weight: 400;
}

.btn {
    width: 120px;
    height: 36px;
    background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);
    border-radius: 5px;
    color: #fff;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    cursor: pointer;
}

.modal-title {
    text-align: center;
}

.modal-text {
    padding: 10px;
}

.modal-edit {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.modal-edit-title {
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.edit-left-part, .edit-right-part {
    width: 49%;
}

.edit-part-content {
    display: flex;
    flex-direction: column;
}

.modal-edit-input {
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

.modal-delete-btn {
    text-align: center;
    padding: 10px 0;
}

@media only screen and (max-width: 900px) {
    .product {
        flex-direction: column;
    }
    .product-img {
        margin: 0 auto;
    }
    .product-tools {
        padding: 15px 0;
    }
}




/*   Styles for pure Modal window   */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #E8E8E8;
    margin: 15% auto;
    border: 1px solid #888;
    width: 50%;
    padding: 20px;
}

.modal-edit-content {
    padding: 0;
}

.close {
    position: absolute;
    right: 7px;
    top: 0;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .form-input {
        width: 70%;
    }
    .modal-content {
        width: 80%;
    }
    .modal-edit {
        flex-direction: column;
    }
    .edit-left-part, .edit-right-part {
        width: 100%;
    }
}

