<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-page__content">
        <button class="modal-btn" id="myBtn">Login</button>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="modal-title">
                    <h5>Login to Demo Shop</h5>
                </div>
                <div class="register-form">
                    <form class="form">
                        <input class="form-input" type="text" minlength="4" maxlength="12" placeholder="Login" required>
                        <input class="form-input" type="password" minlength="4" maxlength="12" placeholder="Password" required>
                        <button class="btn-submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="login.js"></script>
</body>
</html>