/*   Styles for Login page   */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url("../img/bg.jpg");
    font-family: "PT Sans", sans-serif;
}

.login-page__content {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.modal-title {
    text-align: center;
    background-color: #fff;
    padding: 10px 0;
}

.form-inputs {
    width: 100%;
    text-align: center;
    padding: 10px 0 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 20px;
}

.form-input {
    width: 50%;
    height: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 5px;
}

.login::placeholder {
    background: url("../img/login-active.svg") no-repeat;
    background-position: right;
    height: 20px;
}

.password::placeholder {
    background: url("../img/password-active.svg") no-repeat;
    background-position: right;
    height: 22px;
}

.form-input:default {
    border: 2px solid #fff;
}

.form-input:focus:invalid {
    border: 2px solid red;
}

.form-input:valid {
    border: 2px solid #fff;
}

.form-input:focus {
    border: 2px solid #9CC3BC;
    outline: none;
}


.btn {
    font-size: 18px;
    height: 50px;
    width: 170px;
    border-radius: 5px;
    background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);
    color: #fff;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    cursor: pointer;
}

/*   Styles for pure Modal window   */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: fixed;
    background-color: #E8E8E8;
    margin: 15% auto;
    border: 1px solid #888;
    width: 50%;
    top: 10%;
    left: 25%;
}

.modal-title h5 {
    font-size: 20px;
}

.register-form {
    background: url("../img/modal-bg.png");
}

.close {
    position: absolute;
    right: 7px;
    top: 0;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    .form-input {
        width: 80%;
    }
    .modal-content {
        top: 20%;
    }
}

