<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <div class="user">
                    <p class="user-name">Hello, User!</p>
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="content"></div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p class="footer-title">Demo Shop</p>
        </div>
    </footer>

    <script src="https://use.fontawesome.com/255c2dfaed.js"></script>
</body>
</html>