<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>

    <header>
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <div class="user">
                    <p class="user-name">Hello, User!</p>
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="content">
                <div class="content-header">
                    <div class="filter-button">
                        <button id="filter-btn" class="btn" onclick="togglePopup()">Filter options</button>
                        <div id="filter-popup" class="filter-popup">
                            <div class="filter-popup__content">
                                <div class="filter-popup__content_top">
                                    <div class="available">
                                        <p>Availability:</p>
                                        <label class="switch">
                                            <input class="checkbox" type="checkbox">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="gender">
                                        <p>Gender:</p>
                                        <div class="radio-button">
                                            <label class="radio-button-wrapper">
                                                <input class="radio-button-circle" type="radio" name="gender">
                                                Male
                                            </label>
                                            <label class="radio-button-wrapper">
                                                <input class="radio-button-circle" type="radio" name="gender">
                                                Female
                                            </label>
                                            <label class="radio-button-wrapper">
                                                <input class="radio-button-circle" type="radio" name="gender">
                                                Unisex
                                            </label>
                                        </div>
                                    </div>
                                    <div class="category">
                                        <p>Category:</p>
                                        <select class="select-option">
                                            <option value="Clothes">Clothes</option>
                                            <option value="Phones">Phones</option>
                                            <option value="Tablets">Tablets</option>
                                        </select>
                                        <i class="arrow-down"></i>
                                    </div>
                                </div>
                                <div class="filter-popup__content_bottom">
                                    <p>
                                        <label for="amount">Price range:</label>
                                        <input type="text" id="amount" readonly>
                                    </p>
                                    <div id="slider-range"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-field">
                        <input class="filter-input" type="text" placeholder="Filter by text...">
                    </div>
                </div>
                <div class="products-list">
                    <div class="product">
                        <img class="product-img" src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png" alt="img">
                        <h3 class="product-name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="buy-item">
                            <p class="item-price">$Price</p>
                            <button class="btn">Show more</button>
                        </div>
                    </div>
                    <div class="product">
                        <img class="product-img" src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png" alt="img">
                        <h3 class="product-name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="buy-item">
                            <p class="item-price">$Price</p>
                            <button class="btn">Show more</button>
                        </div>
                    </div>
                    <div class="product">
                        <img class="product-img" src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png" alt="img">
                        <h3 class="product-name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="buy-item">
                            <p class="item-price">$Price</p>
                            <button class="btn">Show more</button>
                        </div>
                    </div>
                    <div class="product">
                        <img class="product-img" src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png" alt="img">
                        <h3 class="product-name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="buy-item">
                            <p class="item-price">$Price</p>
                            <button class="btn">Show more</button>
                        </div>
                    </div>
                    <div class="product">
                        <img class="product-img" src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png" alt="img">
                        <h3 class="product-name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="buy-item">
                            <p class="item-price">$Price</p>
                            <button class="btn">Show more</button>
                        </div>
                    </div>
                    <div class="product">
                        <img class="product-img" src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png" alt="img">
                        <h3 class="product-name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="buy-item">
                            <p class="item-price">$Price</p>
                            <button class="btn">Show more</button>
                        </div>
                    </div>
                    <div class="product">
                        <img class="product-img" src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png" alt="img">
                        <h3 class="product-name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="buy-item">
                            <p class="item-price">$Price</p>
                            <button class="btn">Show more</button>
                        </div>
                    </div>
                    <div class="product">
                        <img class="product-img" src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png" alt="img">
                        <h3 class="product-name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="buy-item">
                            <p class="item-price">$Price</p>
                            <button class="btn">Show more</button>
                        </div>
                    </div>
                    <div class="product">
                        <img class="product-img" src="https://digitalcontent.api.tesco.com/v1/media/tescomobile/handsets/iphone_x_silver_pureangles_400.png" alt="img">
                        <h3 class="product-name">Name of product</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores non odit quod recusandae repellat sapiente ullam.</p>
                        <div class="buy-item">
                            <p class="item-price">$Price</p>
                            <button class="btn">Show more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p class="footer-title">Demo Shop</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="./main.js"></script>
    <script src="https://use.fontawesome.com/255c2dfaed.js"></script>
</body>
</html>