/*    Styles for Main layout   */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url("../img/bg.jpg");
    font-family: "PT Sans", sans-serif;
}

header, footer {
    background-color: #2A8676;
    padding: 15px 0;
    font-size: 15px;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.user {
    display: flex;
}

.user-name {
    margin-right: 10px;
}

.user .fa, .logo i {
    font-size: 20px;
}

.content {
    min-height: 90vh;
    background-color: rgba(0,0,0,0.35);
}

.footer-title {
    text-align: center;
}




/*   Styles for main content   */

.content-header {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 20px 20px 0;
}

.filter-button {
    align-self: center;
    width: 140px;
}

#filter-btn {
    width: 100%;
}

.filter-popup {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 30px 20px;
    width: 750px;
    left: 385px;
    border-radius: 15px;
    z-index: 1;
}

.filter-popup__content_top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #28a3a5;
    padding-bottom: 20px;
    position: relative;
}

.ui-state-default {
    border-radius: 20px!important;
}

#slider-range {
    height: 2px;
}

.ui-slider-handle {
    position: absolute!important;
    top: -8px!important;
}

.ui-slider-handle:focus {
    outline: none;
    background-color: #1B745F!important;
}

.available p, .gender p, .category p {
    padding-bottom: 15px;
}

.radio-button {
    display: flex;
}

.radio-button-wrapper {
    display: flex;
    align-items: center;
    margin: 0 4px;
    cursor: pointer;
    font-size: 14px;
}

.checkmark {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    margin-right: 8px;
    background-color: transparent;
    border: 1px solid #288575;
}

.radio-button-wrapper input {
    display: none;
}

/* When the checkbox is checked, add a blue background */
.radio-button-wrapper input:checked ~ .checkmark {
    background-color: #288575;
}

.category {
    position: relative;
}

.select-option {
    padding: 10px;
    height: 30px;
    background-color: #288575;
    width: 235px;
    color: #fff;
}

.show {
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 27px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1B745F;
    -webkit-transition: .4s;
    transition: .4s;
}

.round {
    border-radius: 15px;
    border: 1px solid #1B745F;
    background: transparent;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 1px;
    background-color: #1B745F;
    -webkit-transition: .4s;
    transition: .4s;
}

.checkbox:focus + .slider {
    box-shadow: 0 0 1px #288575;
}

.checkbox:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider .round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.filter-input {
    padding: 10px 10px;
    border-radius: 5px;
    margin: 5px;
    width: 235px;
}

.filter-input:focus {
    outline: none;
}

.filter-popup {
    margin-top: 10px;
}

.filter-popup:after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 58.6%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.filter-popup__content_bottom {
    padding-top: 15px;
}

#amount {
    border:0;
    color:#f6931f;
    font-weight:bold;
}

#slider-range {
    margin-top: 15px;
    background-color: #288575;
}

.ui-slider-handle {
    background-color: #288575;
}



/*   Styles for products   */

.products-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 30px 0;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 3px;
    z-index: 0;
}

.product-header {
    position: relative;
}

.product-img {
    width: 100%;
}

.product-rate {
    background-color: rgba(0,0,0,0.75);
    padding: 5px 20px;
    position: absolute;
    bottom: 0px;
    width: 360px;
    box-sizing: border-box;
}

.product-rate img {
    width: 18px;
    height: 18px;
}

.product-desc {
    padding: 15px;
    background: url("../img/modal-bg.png") repeat;
}

.product-name {
    margin: 15px 0;
}

.product-text {
    border-top: 2px solid #3FC5CB;
    padding-top: 15px;
}

.buy-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

.item-price {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

.dollars {
    color: #2A8676;
}

.btn {
    width: 120px;
    height: 35px;
    font-size: 14px;
    font-weight: 100;
    background: linear-gradient(180deg, #2BBCC2 0%, #1B745F 100%);
    border-radius: 5px;
    color: #fff;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1164px) {
    .content-header {
        justify-content: space-between;
    }
    .products-list {
        justify-content: space-around;
    }
    .filter-popup {
        left: 20px;
        width: calc(100% - 80px);
    }
    .filter-popup:after {
        left: 8%;
    }
    .filter-popup__content_top {
        flex-direction: column;
        border-bottom: none;
    }
    .available, .gender, .category {
        border-bottom: 1px solid #28a3a5;
        padding: 15px;
    }
    .select-option {
        height: auto;
    }
}