<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product customer</title>
    <link rel="stylesheet" href="product_customer.css">
</head>
<body>

<header>
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
            <div class="user">
                <p class="user-name">Hello, <i>John_Doe!</i></p>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="content">
            <div class="header-info">
                <p>Back</p>
                <p>Category: <b>Phone</b></p>
            </div>
            <div class="products-list">
                <div class="product">
                    <div class="product-header">
                        <div id="left-arrow" class="arrow">
                            <img src="../img/arrow.svg" alt="arrow">
                        </div>
                        <div id="slider">
                            <div class="image image-one">
                                <div class="vertical-align-wrapper">
                                    <img class="slider-image" id="slider-image-1" src="../img/1.jpg" alt="img">
                                    <p class="img-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque esse
                                        Excepturi inventore iste magni, praesentium quo sed vero voluptas!
                                    </p>
                                    <div class="product-rate">
                                        <img src="../img/star-active.svg" alt="rate">
                                        <img src="../img/star-active.svg" alt="rate">
                                        <img src="../img/star-active.svg" alt="rate">
                                        <img src="../img/star-inactive.svg" alt="rate">
                                        <img src="../img/star-inactive.svg" alt="rate">
                                    </div>
                                </div>
                            </div>
                            <div class="image image-two">
                                <div class="vertical-align-wrapper">
                                    <img class="slider-image"  id="slider-image-2" src="../img/2.jpg" alt="img">
                                    <p class="img-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque esse
                                        Excepturi inventore iste magni, praesentium quo sed vero voluptas!
                                    </p>
                                    <div class="product-rate">
                                        <img src="../img/star-active.svg" alt="rate">
                                        <img src="../img/star-active.svg" alt="rate">
                                        <img src="../img/star-active.svg" alt="rate">
                                        <img src="../img/star-inactive.svg" alt="rate">
                                        <img src="../img/star-inactive.svg" alt="rate">
                                    </div>
                                </div>
                            </div>
                            <div class="image image-three">
                                <div class="vertical-align-wrapper">
                                    <img class="slider-image"  id="slider-image-3" src="../img/3.jpg" alt="img">
                                    <p class="img-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque esse
                                        Excepturi inventore iste magni, praesentium quo sed vero voluptas!
                                    </p>
                                    <div class="product-rate">
                                        <img src="../img/star-active.svg" alt="rate">
                                        <img src="../img/star-active.svg" alt="rate">
                                        <img src="../img/star-active.svg" alt="rate">
                                        <img src="../img/star-inactive.svg" alt="rate">
                                        <img src="../img/star-inactive.svg" alt="rate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="right-arrow" class="arrow">
                            <img src="../img/arrow.svg" alt="arrow">
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-description">
                            <h3 class="product-name">
                                Active Coat Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit.3
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur delectus impedit maiores non odit quod recusandae repellat sapiente ullam.</p>
                        </div>
                        <div class="buy-item">
                            <p class="item-price"><span class="dollars">$</span> 48.55 <span class="choosen-items">(9 items)</span></p>
                            <button class="btn">Buy</button>
                        </div>
                    </div>
                    <div class="img-zoom-container" id="img-zoom-container">
                        <div id="zoom-result" class="img-zoom-result"></div>
                    </div>
                </div>
            </div>

            <div class="share">
                <p class="share-title">There is no user reviews for now.</p>
                <p id="share-link" class="share-link">Share your thoughts with other customers:</p>
            </div>

            <div id="review" class="review">
                <h3 class="review-title">Add review</h3>
                <div class="review-info">
                    <div class="review-info-header">
                        <p class="review-info-header-name">By <span id="your-name">Your Name</span> March 4, 2018</p>
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                        </div>
                    </div>
                    <div class="review-desc">
                        <div class="review-desc-img">
                            <img id='avatar'/>
                        </div>
                        <div class="review-desc-text">
                            <p><pre id="startTypeField" class="review-desc-text-feedback">Start typing and your review text will appear here...</pre></p>
                        </div>
                    </div>
                </div>
                <div class="review-edit">
                    <div class="review-edit-lpart">
                        <div class="review-edit-lpart-name">
                            <p>Enter your name:</p>
                            <input id="namefield" class="input-name" type="text">
                        </div>
                        <div class="review-edit-lpart-avatar">
                            <p>Choose your avatar:</p>
                            <div class="avatar-field">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                <label for="file-upload" class="custom-file-upload">
                                    Upload image
                                </label>
                                <input id="file-upload" type="file" accept="image/*" onchange="onFileSelected(event)"/>
                            </div>
                        </div>
                    </div>
                    <div class="review-edit-rpart">
                        <div class="review-edit-rpart-header">
                            <p>Write your review:</p>
                            <div class="rates">
                                <span>Rate product:</span>
                                <div class="rate">
                                    <input type="radio" id="star5" name="rate" value="5" />
                                    <label for="star5" title="text">5 stars</label>
                                    <input type="radio" id="star4" name="rate" value="4" />
                                    <label for="star4" title="text">4 stars</label>
                                    <input type="radio" id="star3" name="rate" value="3" />
                                    <label for="star3" title="text">3 stars</label>
                                    <input type="radio" id="star2" name="rate" value="2" />
                                    <label for="star2" title="text">2 stars</label>
                                    <input type="radio" id="star1" name="rate" value="1" />
                                    <label for="star1" title="text">1 star</label>
                                </div>
                            </div>
                        </div>
                        <div class="review-edit-rpart-area">
                            <p contenteditable="true" id="areatext" class="review-area"></p>
                        </div>
                        <div class="review-edit-rpart-btns">
                            <div class="left-btns">
                                <button id="btn-bold" class="edit-btn">Bold</button>
                                <button id="btn-emphasize" class="edit-btn">Emphasize</button>
                                <button id="btn-quote" class="edit-btn">Quote</button>
                            </div>
                            <div class="right-btns">
                                <button class="edit-btn" id="cancel-btn">Cancel</button>
                                <button class="edit-btn apply-review-btn">Apply review</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <p class="footer-title">Copyright “Demo Shop”, 2017</p>
    </div>
</footer>

<script src="product_customer.js"></script>
<script src="https://use.fontawesome.com/255c2dfaed.js"></script>
</body>
</html>